/* webpackIgnore: true */ @import "roboto.css";
/* webpackIgnore: true */ @import "fontawesome.css";

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "roboto", sans-serif;
    overflow: hidden;
    background-color: #f5f5f5;
}

textarea,
input,
button,
select {
    font-family: inherit;
    font-size: inherit;
}
