<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="gfx/favicon.png">

    <!-- Bundled frontend ressources -->
    <link rel="stylesheet" href="css/bundle.css">
    <script type="module" src="js/bundle.js"></script>

    <title>{{ $.Title }}</title>
  </head>
  <body>
    <div class="grid-container">
      <div class="header">
        <div class="buttons">
          <i class="fas fa-bars"></i>
        </div>
        <div class="logo">
          <a href="/" tabindex="-1"><img id="logo" style="height: 40px;" src="gfx/logo.svg"></a>
        </div>
        <div class="title">{{ $.PageTitle }}</div>
      </div>
      <div class="content">
        <div class="main">{{ template "content" . }}</div>
        <div class="actions">
          <div class="d-flex flex-row">
          <div class="p-2">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Termin hinzufügen
            </button>
          </div>
          <div class="p-2">Flex item 2</div>
          <div class="p-2">Flex item 3</div>
        </div>
      </div>
      </div>
      <div class="footer">
        <div class="left"></div>
        <div class="middle">{{ template "footer". }}</div>
        <div class="right"></div>
      </div>
    </div>
  </body>
</html>