<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="gfx/favicon.png">

    <!-- Bundled frontend ressources -->
    <link rel="stylesheet" href="css/bundle.css">
    <script type="module" src="js/bundle.js"></script>

    <title>{{ $.Title }}</title>
  </head>
  <body>
    <div class="grid-container">
      <div class="header">
        {{ template "nav" . }}
        <!--<div class="logo"></div>
        <div class="title"></div>
        <div class="buttons"></div>-->
      </div>
      <div class="content">
        <div class="main">{{ template "content" . }}</div>
        <div class="actions"></div>
      </div>
      <div class="footer">
        <div class="left"></div>
        <div class="middle">{{ template "footer". }}</div>
        <div class="right"></div>
      </div>
    </div>
  </body>
</html>