{{ define "nav" }}
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavigation"
    aria-labelledby="offcanvasNavigationLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasNavigationLabel">Navigation</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div class="d-flex flex-column bd-highlight mb-3">
        <div class="p-2 bd-highlight"><i id="awesome" class="fas fa-angle-double-right"></i>Vorlesungsverwaltung</div>
        <div class="p-2 bd-highlight"><i id="awesome" class="fas fa-angle-double-right"></i>Kursverwaltung</div>
        <div class="p-2 bd-highlight"><i id="awesome" class="fas fa-angle-double-right"></i>Dozentenverwaltung</div>
        <div class="p-2 bd-highlight"><i id="awesome" class="fas fa-angle-double-right"></i>Semesterverwaltung</div>
      </div>
    </div>
</div>
{{ end }}
